/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

/* COMMON */
.wrapper {
    width: 1024px;
    margin: auto;
}

body {
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
}

.layover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.margin {
    margin: 20px 0;
}

.color-text {
    color: rgb(150, 148, 148);
}

/*Header*/
/*Logo*/
.logo img {
    width: 150px;
}

/*Nav*/
li {
    display: inline-block;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: gray;
}

/*Banner*/
.banner {
    width: 100%;
    height: 500px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.text-banner{
    width: 50%;
    position: absolute;
    left: 5%;
    bottom: 20%;
    color: white;
    font-size: 13px;
}
/*End Header*/

/*Main*/
/*Body main*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    padding: 10px 0;
}

.column {
    float: left;
}

.col-left, .col-right {
    width: 20%;
}

.col-center {
    width: 58%;
    margin: 0 1%;
}

.col-img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.bg-left {
    background-image: url(../img/img-1.jpg);
}

.bg-center {
    background-image: url(../img/banner-2.jpg);
}

.bg-right {
    background-image: url(../img/img-3.jpg);
}

/*End Main*/

/* Footer */
footer {
   text-align: center;
}

.heart{
    color: red;
}
/* End Footer */